# Configuration de la base de données
DB_USER=focuslight
DB_PASSWORD=changeMe
DB_NAME=focuslight
DB_CONNECTION_STRING=postgresql://focuslight:changeMe@db:5432/focuslight
DB_PORT=5432

# Configuration du backend
NODE_ENV=production
SESSION_SECRET=changeMe
BACKEND_PORT=5000

# URL du frontend (pour CORS)
FRONTEND_URL=https://focus-light-commerce.vercel.app

# Configuration Email SMTP
SHOP_EMAIL=boutique.focuslight@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=boutique.focuslight@gmail.com
SMTP_PASS=votre_mot_de_passe_dapp
ADMIN_EMAIL=altolille@gmail.com




real ones actually on portainer
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_CONNECTION_STRING=
SESSION_SECRET=
API_URL=https://api-focus.pogodev.com
BACKEND_PORT=
ADMIN_PASSWORD=
NODE_ENV=
STRIPE_SECRET_KEY=sk_
